@charset "UTF-8";
.container {
    display: flex;
    flex-direction: column; /* Đặt các phần tử theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    min-height: 100vh; /* Chiếm toàn bộ chiều cao của viewport */
    text-align: center; /* Căn giữa văn bản */
}

.container h1 {
    font-size: 36px;
    color: #333; /* Màu sắc của tiêu đề */
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    color: #555; /* Màu sắc của đoạn văn */
}